.Scoreboard {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.GameContainer {
    float:left;
    width:75%
}

.Room {
    height:100%
}

.QuestionPanel {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.first-row-buttons {
    margin-bottom : 15vh;
    margin-top : 10vh;
}

.QuestionPanel span {
    text-overflow: ellipsis;
}

.QuestionPanel button {
    height : 8vh;
}